{% extends 'base.html' %}
{% block title %}Resolve Bet{% endblock %}
{% block content %}
<h3>Resolve Bet</h3>
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Bet Result</label>
              {% for key, value in result_choices.items %}
                <div>
                <input type="radio" name="result_options" value="{{key}}" />{{value}}
                </div>
              {% endfor %}
            </div>
{#            <div class="form-group">#}
{#                <label for="date">Date</label>#}
{#                <input type="date" name="deadline" class="form-control" />#}
{#            </div>#}

        </div>
    </div>
    <div class="row">
        <div class="col" >
            <a href="{% url 'index' %}" class="btn btn-warning">Cancel</a>
            <input type="submit" value="Embetten" class="btn btn-primary" />
        </div>
    </div>
</form>
{% endblock %}
